{% load group_tags %}
<h2>Categories</h2>
<ul>
    {% for category in object_list %}
        <div style="display: flex; gap: 2rem">
            <li>{{ category.title }}</li>
            {% if user|has_group:"Admin" or user.is_superuser %}
                <a href="{% url 'bookcategory_delete' category.pk  %}">Remove Category</a>
            {%  endif %}
            {% if user.is_authenticated %}
                {% if not user|has_group:"Operator" %}
                    <a href="{% url 'bookcategory_edit' category.pk  %}">Edit Category</a>
                {% endif %}
            {% endif %}
        </div>

    {% endfor %}
</ul>
{% if user.is_authenticated %}
    {% if not user|has_group:"Operator" %}
        <a href="{% url 'bookcategory_create' %}">Add Category</a>
    {% endif %}
{% endif %}


<a href="{% url 'home' %}">Home</a>
