{% extends "base.html" %}
{% load icons %}

{% block title %}authors{% endblock title %}
{% load render_table from django_tables2 %}
{% block content %}
<section>
    {% if user.is_authenticated %}
        <div class="flexend">
         <a href="{% url 'add_author' %}">Add author</a>
        </div>
    {% endif %}

  <form method="get" action="" class="flexcenter">
    <input
      type="text"
      name="q"
      placeholder="Search authors..."
      value="{{ request.GET.q }}"
    />
    <button type="submit">Search</button>
  </form>

</section>
        <form method="get">
            {{ filter.form }}
            <button type="submit">Filter</button>
        </form>
{#<section>#}

{##}
{#  {% for author in authors %}#}
{#  <article class="gridrow">#}
{#    <p>{{author.first_name}}</p>#}
{#    <p>{{author.last_name}}</p>#}
{#    <p>{{author.age}}</p>#}
{#    <p>{{author.national_id}}</p>#}
{##}
{#    <button><a href="{% url 'author_detail' author.id %}">Details</a></button>#}
{#  </article>#}
{##}
{#  {% endfor %}#}
{% render_table table %}
    <section style="display: flex;flex-direction: column; gap: 2rem">




        {% if request.get_full_path == "/" %}
            <a href="/?_export=csv">Download the table</a>
        {% else %}
            <a href="{{ request.get_full_path }}&_export=csv">Download the table</a>
        {% endif %}
        {% if not user.is_authenticated %}

            <a href="{% url 'login' %}">login</a>

        {% endif %}
        {% if user.is_authenticated %}
            <a href={% url "logout" %}>logout</a>
            <a href={% url "index" %}>user index</a>
        {% endif %}
        <a href={% url "authorbookcount" %}>Author's book count</a>
        <a href={% url "authorbookmixin" %}>Author Book Mixin</a>
        <a href={% url "author-book-tree" %}>Tree View</a>
    </section>

    </section>
{% endblock content %}
