{% extends "base.html" %}
{% block content %}
    <h2>login</h2>
    {% if form.errors %}
        <p style="color:red;">Username or password is wrong</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="login">login</button>
    </form>
    <a href={% url 'smslogin' %}>SMS Login here!</a>
    <a href={% url 'login2fa' %}>2FA Login</a>
    <a href={% url 'librarylogin' %}>Library 2FA Login</a>
    <a href={% url 'forgotpassword' %}>Forgot Password</a>
    <a href={% url "home" %} >Home</a>

{% endblock content %}
{% block title %}
    Login
{% endblock title %}