{% extends "base.html" %}

{% block title %}authors{% endblock title %}
{% load render_table from django_tables2 %}
{% block content %}
<section>
    <div style="width: 100%; display: flex; justify-content: center">
        <form method="get">
            {{ filter.form }}
            <button type="submit">Filter</button>
        </form>
    </div>
    {% render_table table %}

    {% if request.get_full_path == "/purchaselist/" %}
        <a href="/purchaselist/?_export=csv">Download the table</a>
    {% else %}
        <a href="{{ request.get_full_path }}&_export=csv">Download the table</a>
    {% endif %}
</section>
{% endblock content %}
