{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Books Per Author</h2>
<div id="pie-container" style="width: 600px; height: 400px;"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    Highcharts.chart('pie-container', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Books per Author'
        },
        series: [{
            name: 'Books',
            colorByPoint: true,
            data: {{ chart_data|safe }}
        }]
    });
});
</script>
{% endblock content %}
