

<!DOCTYPE html>
<html>
<head>
    <title>tree view of books and authors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.12/dist/themes/default/style.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstree@3.3.12/dist/jstree.min.js"></script>
</head>
<body>
    <h2>Tree View</h2>
    <div id="tree-container"></div>
    <script>
        const treeData = JSON.parse("{{ data|safe|escapejs }}");
        $(function() {
            $('#tree-container').jstree({
                'core' : {
                    'data' : treeData
                }
            });
        });
    </script>
</body>
</html>
{##}
{#    <script>#}
{#        $(function() {#}
{#            $('#tree-container').jstree({#}
{#                'core' : {#}
{#                    'data' : {#}
{#                        "url" : "{% url 'author-book-tree-json' %}",#}
{#                        "dataType" : "json"#}
{#                    }#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}

